.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1rem;
  }

  .products-grid > div {
      border: 2px black solid;
  }
.product-img {
    max-width: 150px;
    height: auto;
    object-fit: contain;
  }